@model RealPrice.Models.MainData

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MainData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CaseT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Landa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Landa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CaseF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LandaX)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LandaX)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LandaY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LandaY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scnt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Scnt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sbuild)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sbuild)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tbuild)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tbuild)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Buitype)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Buitype)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pbuild)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pbuild)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mbuild)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mbuild)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Farea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Farea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rule)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rule)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Furniture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Furniture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tprice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tprice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Uprice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Uprice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parktype)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parktype)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Parea)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Parea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pprice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pprice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rmnote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rmnote)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
